html
	head
		if book != undefined
			title #{book.name}
	body
		if book != undefined
			img(src=book.img style='width:10rem')
			table
				tr
					td Name
					td #{book.name}
				tr
					td Author
					td #{book.author}
				tr
					td Publisher
					td #{book.publisher}
				tr
					td Pages
					td #{book.page}
				tr
					td(colspan=2)
						-var isBorrowed = false
						if visitor
							each borrowedBook in visitor.borrowedBooks
								if borrowedBook === book.id
									#{isBorrowed = true}
							if isBorrowed			
								|	You Borrowed this book
							else
								a(href="./borrow/"+ book.id) Barrow This Book
						else
							a(href="../login") Login
							|  to borrow this book
		else
			h1 404 Page not found